# Временная папка сборщика Maven (туда складываются allure-results)
target/

# Папки и файлы настроек среды разработки IntelliJ IDEA
.idea/
*.iml
*.iws

# Локальные отчёты Allure, если вы генерировали их через Allure CLI
allure-report/
allure-results/

# Системные файлы операционных систем
.DS_Store
Thumbs.db